/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
	box-sizing: border-box;
}
/**** MISC ****/
.container{
	width: 93.75VW;
	margin: 0 auto;
}
.clear{
	clear: both;
}
/**** MISC ****/

/**** MENU ****/
.cms-menu{
	padding: 0.5208333333333333VW 0;
	background:#8ee4e0;
}
.logo{
	display: inline-block;
	width: 6.583333VW;
}
.logo img{
	display: block;
	width: auto;
	max-width: 100%;
}
.main-menu{
	float: right;
}
.menu-dashboard{
	font-size: 0;
}
.menu-dashboard li{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	margin-right: 25px;
}
.menu-dashboard li:last-of-type{
	margin-right: 0;
}
.menu-dashboard li a{
	display: block;
	text-decoration: none;
	font-size: 16px;
	line-height: 16px;
	color: #000000;
}
.menu-dashboard li a:hover, .menu-dashboard li a:focus, .menu-dashboard li a:active{
	text-decoration: none;
	color: #000000;
}
.menu-user-img{
	width: 3.4895833333333335VW;
}
.menu-user-img img{
	width: auto;
	max-width: 100%;
}
/**** MENU ****/


/**** BODY ****/
.cms-body{
	width: 100%;
	margin: 1.3020833333333335VW 0;
}
/**** BODY ****/

