/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
	box-sizing: border-box;
}


@font-face {
    font-family: 'yantramanavbold';
    src: url('../fonts/yantramanav-bold-webfont.woff2') format('woff2'),
         url('../fonts/yantramanav-bold-webfont.woff') format('woff'),
         url('../fonts/yantramanav-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'yantramanavlight';
    src: url('../fonts/yantramanav-light-webfont.woff2') format('woff2'),
         url('../fonts/yantramanav-light-webfont.woff') format('woff'),
         url('../fonts/yantramanav-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'yantramanavmedium';
    src: url('../fonts/yantramanav-medium-webfont.woff2') format('woff2'),
         url('../fonts/yantramanav-medium-webfont.woff') format('woff'),
         url('../fonts/yantramanav-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'yantramanavregular';
    src: url('../fonts/yantramanav-regular-webfont.woff2') format('woff2'),
         url('../fonts/yantramanav-regular-webfont.woff') format('woff'),
         url('../fonts/yantramanav-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
html, body{
	font-family: 'yantramanavregular';
	font-size: 16px;
	line-height: 20px;
	color: #000000;
}

/**** MISC ****/
.container{
	width: 93.75VW;
	margin: 0 auto;
}
.clear{
	clear: both;
}
html, body{
	width: 100%;
	height: 100%;
}
/**** MISC ****/


/**** LOGIN ****/
.login-area{
	width: 100%;
	height: 100%;
	background: url('../img/login-image.jpg');
	background-repeat: no-repeat;
	background-position: left top;
	background-size: cover;
}
.login-holder{
	background:#ffffff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 501px;
	height: auto;
	padding: 35px 25px;
	border: 2px solid #000000;
	box-shadow: 0px 0px 16px -6px #45759d;
	z-index: 1;
	border-radius: 8px;
}
.locomotif-logo{
	display: block;
	margin: 0 auto;
	margin-bottom: 35px;
	max-width: 267px;
	width: 200px;
}
#login-form{
	display: block;
	width: 100%;
}
.login-input-holder{
	position: relative;
	display: block;
	width: 100%;
	margin-bottom: 25px;
}

.login-input-holder input{
	display: block;
	width: 100%;
	border: 2px solid #000000;
	border-radius: 5px;
	padding: 8px 16px;
	outline: none;
	color: #000000;
	background: #ffffff !important;
	font-size: 15px;
	line-height: 15px;
	font-family: 'yantramanavregular';
	min-height: 39px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 2px solid #000000;
  -webkit-text-fill-color: #000000;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  transition: background-color 5000s ease-in-out 0s;
}
.login-input-holder input:active, .login-input-holder input:focus, .login-input-holder input:hover{
	outline: none;
}
.login-input-holder .login-label{
	display: inline-block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 12px;
	z-index:3;
	font-size: 16px;
	line-height: 16px;
	opacity:0;
	font-family: 'yantramanavbold';
	padding: 4px 6px;
	background: #ffffff;
	border-radius: 5px;
}

#submit-login{
	display: inline-block;
	font-family: 'yantramanavbold';
	font-size: 16px;
	line-height: 16px;
	padding: 6px 20px;
	text-transform: uppercase;
	background: #ffffff;
	border: 2px solid #000000;
	outline: none;
	cursor: pointer;
}
.login-input-holder input[type="checkbox"], .login-checker{
	position: absolute;
	top: 0;
	left: 0;
	min-width: auto;
	width: 16px;
	height: 16px;
	margin: 0 0;
	opacity: 0;
	cursor: pointer;
	pointer-events: all;
}
.login-checker{
	opacity: 1;
	pointer-events: none;
	cursor: pointer;
	border: 2px solid #000000;
	border-radius: 3px;
	background:#ffffff;
	transition: 0.3s ease all;
	
}
.login-check-label{
	display: inline-block;
	margin-left: 24px;
	font-size: 16px;
	line-height: 16px;
	font-family: 'yantramanavbold';
	cursor: pointer;
}
.login-input-holder input[type="checkbox"]:checked + .login-checker{
	background: #518dc5;
}
.invalid-feedback{
	font-family: 'yantramanavbold';
    padding: 4px 6px;
    background: #ffffff;
    border-radius: 5px;
    font-size: 14px;
    line-height: 14px;
    position: absolute;
    bottom: -9px;
    left: 13px;
    color: red;
}
/**** LOGIN ****/

/**** MENU ****/
.cms-menu{
	padding: 0.5208333333333333VW 0;
	background:#8ee4e0;
}
.logo{
	display: inline-block;
	width: 6.583333VW;
}
.logo img{
	display: block;
	width: auto;
	max-width: 100%;
}
.main-menu{
	float: right;
}
.menu-dashboard{
	font-size: 0;
}
.menu-dashboard li{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	margin-right: 25px;
}
.menu-dashboard li:last-of-type{
	margin-right: 0;
}
.menu-dashboard li a{
	display: block;
	text-decoration: none;
	font-size: 16px;
	line-height: 16px;
	color: #000000;
}
.menu-dashboard li a:hover, .menu-dashboard li a:focus, .menu-dashboard li a:active{
	text-decoration: none;
	color: #000000;
}
.menu-user-img{
	width: 3.4895833333333335VW;
}
.menu-user-img img{
	width: auto;
	max-width: 100%;
}
/**** MENU ****/


/**** BODY ****/
.cms-body{
	width: 100%;
	margin: 1.3020833333333335VW 0;
}
/**** BODY ****/

